section{
    padding: 100px;
}
.banner{
    position: relative;
    min-height: 100vh;
    background: url(banner2.jpeg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h2{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;

}

.banner h2 span{
    font-size: 1.5em;
    font-weight: 700;
    color: #efb810;
}
.banner h3{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
 

}
.espacio{
    margin-top: 20px;
}

.btn{
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 25px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 800;
    border-radius: 10px;
}
