*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:"Poppins", sans-serif;
   scroll-behavior: smooth;
   
}



header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background-color: transparent;
}

header.sticky
{
   background: rgba(17, 17, 17, 0.794);
   padding: 20px 100px;
   box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
   

}


header .logo{
   color: #fff;
   font-size: 24px;
   text-transform: uppercase;
   text-decoration: none;
   font-weight: 700;
   letter-spacing: 2px;
}

header ul {
   position: relative;
   display: flex;
}

header ul li {
  position: relative;
  list-style: none;

}

header ul li a
{
   position: relative;
   display: inline-block;
   margin: 0 15px;
   color: #fff;
   text-decoration: none;

}
.UserInfo{
   margin: 0 25px;
}
header ul li a i{
   margin-top: 10px;
   font-size: 25px;
   
   
}

header ul li a:hover{
   font-weight: bold;
   color: #efb810;
   text-decoration: none;
}
header.sticky ul li a:hover{
   font-weight: bold;
   font-weight: bold;
   color: #efb810;
   text-decoration: none;
}


header.sticky  ul li a{
   color: #fff;

}

#barras,#times{
   display: none;
}


/* BUSCADOR */
.buscar{
   padding: 0 200px;
}
.buscar input{
   width: 300px;
   height: 40px;
   border-radius: 10px;
   background-color: transparent;
   border: 1px solid #fff;
   color: white;
}

.buscar .fa-search{
   color: white;
}

/* FOOTER */

.contact{
   background: #111;
}
.FormBx{
   min-width: 60%;

}
.FormBx form{
   display: flex;
   flex-direction: column;
}

.FormBx form h3,
.contentInfo h3{
   color: #fff;
   font-size: 20px;
   font-weight: 700;
   margin-bottom: 10px;
} 
.FormBx form input,
.FormBx form textarea{
   margin-bottom: 20px;
   padding: 15px;
   font-size: 16px;
   background: #222;
   border: none;
   outline: none;
   color: #fff;
   resize: none;

}
.FormBx form textarea{
   min-height:200px ;
}
.FormBx form input[type="submit"]{
   max-width: 100px;
   background: #2196f3;
   cursor: pointer;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.contentInfo{
   min-width: 40%;
}

.contentInfoBx{
   position: relative;
}

.contentInfoBx .box{
   position: relative;
   padding: 20px 0;
   display: flex;

}
.contentInfoBx .box .icon{
   min-width: 40px;
   padding-top: 4px;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;

}
.contentInfoBx .box .text{
   display: flex;
   margin-left: 20px;
   font-size: 16px;
   color: #fff;
   flex-direction: column;
   font-weight: 300;
    
}

.contentInfoBx .box .text h3{
   font-weight: 500;
   color:#2196f3;
   margin-bottom: 0;

}

.copyright{
   background: #000;
   color: #fff;
   text-align: center;
   padding: 10px;
}

@media (max-width:100){
   #barras,#times{
      display: none;
   } 
}


/* FOTOS */
.UserPhoto{
   border-radius: 50%;
   width: 35PX;
}

/* RESPOSABILIDAD JAJA */
@media (max-width:991px){
   header,
   header.sticky{
       padding: 20px 50px;

   }
   #barras{
      display: block;
   }
   .menu{

       position: fixed;
       top: 75px;
       left: -100%;
       display: block;
       padding: 100px 50px;
       text-align: center;
       width: 100%;
       height: 100vh;
       background:#fff;
       transition: 0.5s;
       z-index: 999; 
       border-top: 1px solid rgba(0, 0, 0, 0.2);
       color: #111;

   }
   .menu.active{
      left: 0;
   }
   header .toggle ul li a
   {
   color: #111;
   font-size: 24px;
   margin:10px;
   }  
   #barras,#times{
       font-size: 34px;
       padding-top: 3px;
      position: absolute;
   }

 
  

   .toggle{
       width: 40px;
       height: 40px;
       
       background-size: 30px;

   }
   .toggle.active{
       width: 40px;
       height: 40px;
       background-size: 25px;
       

   }

   
  
.black{
   filter: invert(1);
}

   .toggle{
       color: #fff;
   }

 

}

@media (max-width:600px){
   header,
   header.sticky{
       padding: 100px 20px;

   }
}


